/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
	display: flex;
	flex-direction: column;
}

/********mode éditeur***************/
#modeEditor {
	justify-content: center;
	align-items: center;
	gap: 20px;  
	padding: 10px;
	width: 100%;
	background-color: black;
	color: white;
	margin: 0;
}
.btnChange {
	font-family: 'Work Sans';
	border-radius: 50px;
	padding: 10px;
}


/**********header**************/
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

.liens{
	text-decoration: none;
}

/*******introduction***************/
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.btnModifier {
	gap: 10px;
	padding: 20px 60px;
	border: none;
	font-family: 'Work Sans';
	background-color: white;
}

/*******présentation***************/
#portfolio {
	display: flex;
	flex-direction: column;
}
#portfolio h2 {
	text-align: center;
}


/*******projets***************/
.title_Project {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 0;
	margin-bottom: 1em;
}

.category {
	gap: 20px;
}

.filtres {
	color: #1D6154;
	background-color: white;
	padding: 10px;
	margin-bottom: 50px;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 20px;
	font-family: 'Work Sans';	
}

.filtres:focus {
	color: white;
	background-color: #1D6154;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*****************Modale*************/
#modal {
	position: fixed;
	width: 35%;
	height: 80%;
	background-color: white;
	border: none; 
	border-radius: 20px;
	padding: 0;
	/*overflow: hidden;*/
}
#modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 40px;
}

.close-modal {
	position: absolute;
	right: 30px;
	top: 30px;
}
.title-modal {
	color: black;
}
.gallery-modal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px; 
  }
  
.gallery-modal img {
width: 80px;
height: auto;
aspect-ratio: 2/3;
object-fit: cover;
margin: 10px;
}

.projet-modal {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.icone-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	
}

.icone-modal i {
	color: white;
	background-color: black;
	padding: 5px;
	border-radius: 5px;
	margin: 0;
	transform: scale(0.8);
}

.delete-projet {
	color: white;
	background-color: black;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

.gray-bar {
	width: 100%;
	height: 1px;
	background-color: rgb(199, 197, 197);
	margin: 30px 0;
}

.button-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ajoutPhoto {
	width: 50%;
	background-color: #1D6154;
	color: white;
	border: 1px solid #1D6154;
	border-radius: 20px;
	padding: 10px;
	font-family: 'Work Sans';
	margin-bottom: 20px; 
}

.supprimer {
	color: red;
	background-color: white;
	font-family: 'Work Sans';
	border: none;
}

/**************Formulaire*************/

.arrow-return {
	position: absolute;
	left: 30px; 
	top: 30px; 
}

.download-modal {
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(214, 220, 223);
	border-radius: 5px; 
	padding: 20px;
}

.countryside {
	transform: scale(6);
	margin-top: 20px ;
	color: rgb(199, 197, 197);
} 

#imageInput {
	opacity: 0;
	position: absolute;

}

.download-button {
	color: rgb(54, 143, 187);
	background-color: rgb(199, 197, 197);
	border-radius: 25px;  
	border: none;
	font-size: large;
	padding: 10px 20px;
	margin: 20px;
}

.preview-img {
	width: 200px;
	height: auto;
	z-index: 1;
}

.formulaire-modal {
	margin: 20px;
	display: flex;
	justify-content: flex-start;
}

.category-modal {
	padding: 10px;
}

.button-validate { 
	align-self: center;
	width: 50%;
	background-color: rgb(199, 197, 197);
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px;
	font-family: 'Work Sans';
	font-weight: 400;
}

